/*region utility*/

:root {
    --boo-dark: #1b1b1a;
    --boo-primary: #ff6801;
    --boo-danger: #ff0000;
    --boo-accent: #018100;
}

/*region common*/
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 70%;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*region Header*/

#site_header {
    background-color: var(--boo-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: smaller;

}

.srcbar {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    color: white;
    padding: 0;
    gap: 4px;
}

li {

}

.logo {
    height: 20px;
    width: 30px;
    padding: 10px;
    margin-top: 5px;
}

/*add icon
end regio Header*/

/*region Main*/
main {
    width: 70%;
    margin: auto;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    position: relative;
    padding-top: 40px;
}

.red {
    color: var(--boo-danger);
}

.sales {
    background-color: var(--boo-danger);
    padding: 2px;
    width: 28px;
    color: white;
    text-align: center;
    font-size: 9px;
    position: absolute;
    top: 400px;
    right: 248px;
}

.sustainable {
    background-color: var(--boo-accent);
    padding: 2px;
    width: 53px;
    color: white;
    text-align: center;
    font-size: 9px;
    position: absolute;
    top: 400px;
    right: 190px;
}

.sustainable1 {
    background-color: var(--boo-accent);
    padding: 2px;
    width: 53px;
    color: white;
    text-align: center;
    font-size: 9px;
    position: absolute;
    top: 400px;
    right: 223px;
}

.heart {
    background-color: white;
    padding-left: 9px;
    padding-top: 2px;
    padding-right: 9px;
    padding-bottom: 2px;
    text-align: center;
    font-size: 25px;
    position: absolute;
    top: 50px;
    left: 247px;
}

.heart:hover {
    color: red;
}

.brand{
    font-size: small;
}

.price{
    font-size: small;
}
/*region first*/
.transition1 {
    background-image: url(./img/1.webp);
    background-size: cover;
    height: 400px;
    width: 280px;
}

.transition1:hover {
    background-image: url(./img/1b.webp);
    transition: 500ms;
}

/*region second*/
.transition2 {
    background-image: url(./img/2.webp);
    background-size: cover;
    height: 400px;
    width: 280px;
}

.transition2:hover {
    background-image: url(./img/2b.webp);
    transition: 500ms;
}

/*region third*/
.transition3 {
    background-image: url(./img/3.webp);
    background-size: cover;
    height: 400px;
    width: 280px;
}

.transition3:hover {
    background-image: url(./img/3b.webp);
    transition: 500ms;
}

/*region fouth*/
.transition4 {
    background-image: url(./img/4.webp);
    background-size: cover;
    height: 400px;
    width: 280px;
}

.transition4:hover {
    background-image: url(./img/4b.webp);
    transition: 500ms;
}

/*region fifth*/
.transition5 {
    background-image: url(./img/5.webp);
    background-size: cover;
    height: 400px;
    width: 280px;
}

.transition5:hover {
    background-image: url(./img/5b.webp);
    transition: 500ms;

}

/*region sixth*/
.transition6 {
    background-image: url(./img/6.webp);
    background-size: cover;
    height: 400px;
    width: 280px;
}

.transition6:hover {
    background-image: url(./img/6b.webp);
    transition: 500ms;
}
/*end region Main*/

/*region footer*/
footer{
    background-color: var(--boo-dark);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.srl{
    display: flex;
    flex-direction: column;
    font-size: small;
    padding-bottom: 15px;
    padding-top: 15px;    
}

.ul2{
    margin:0;
    font-size: xx-small;
}

.find-us{
    font-size:x-small;
}

.social{
    display: flex;   
    flex-direction: column;
    padding-bottom: 15px;
    padding-top: 15px;  
}

.fab{
    color: white;
    margin: 0;
}