/*region utility*/

:root {
    --boo-dark: #1b1b1a;
    --boo-primary: #ff6801;
    --boo-danger: #ff0000;
    --boo-accent: #018100;
}

/*region common*/
body {
    margin: 0;
}

.container {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*region Header*/

#site_header {
    background-color: var(--boo-primary);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: smaller;

}

.srcbar {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    color: white;
}

li{
    padding: 3px;
}

.logo {
    height: 20px;
    width: 30px;
    padding: 10px;
}
/*add icon
end regio Header*/

/*region Main*/
main{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.box{
    position: relative;
    padding-top:10px;
}

.model{
    height: 400px;
    width: 280px;
}

.white{
    color: white;
}

.red{
    color: var(--boo-danger);
}

.sales{
    background-color: var(--boo-danger);
    padding: 2px;
    width: 28px;
    color: white;
    text-align: center;
    font-size: 9px;
    position: absolute;
    top:370px;
    right: 248px;
}

.sustainable{
    background-color: var(--boo-accent);
    padding: 2px;
    width: 53px;
    color: white;
    text-align: center;
    font-size: 9px;
    position: absolute;
    top:370px;
    right: 190px;
}

.heart{
    background-color: white;
    padding-left: 9px;
    padding-top: 2px;
    padding-right: 9px;
    padding-bottom: 2px;
    text-align: center;
    font-size: 25px;
    position: absolute;
    top:20px;
    left: 247px;
}

 /*end region Main*/